@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.9;
    z-index: 1;
}

    .nav-bar a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 110%;
        font-family: 'Rock Salt';
    }

.sticky {
    position: fixed;
    top: 0;
    width: 80%;
}

.nav-link:hover {
    background-color: #f2f2f2;
    color: #333;
    transition: 1s;
}

.nav-link:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #333;
}

.nav-link:hover:after {
    width: 100%;
    margin: 0 auto;
    transition: 2s;
}

#logo img {
    width: 60%;
    margin-left: 13%;
}

.form-group {
    margin-top: 2%;
}

.form-control {
    font-family: 'Roboto';
}

.submit-button {
    color: rgb(72, 71, 99);
    outline: none;
    border: none;
    background-color: inherit;
    font-size: x-large;
}

    .submit-button:hover {
        color: #f1f1f1;
        transition: 2s;
    }

.main {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background-color: white;
    -webkit-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.75);
}

.body {
    background: rgb(228,198,170);
    background: linear-gradient(16deg, rgba(228,198,170,1) 17%, rgba(218,221,218,1) 40%, rgba(218,221,218,1) 65%, rgba(175,221,181,1) 83%);
}

#logo {
    padding-left: 10%;
}

.img-top {
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 1%;
}

.search-form {
    display: inline-flex;
}

.btn {
    font-family: 'Rock Salt';
}

.col-lg-4 {
    margin-top: 2%;
}

.card {
    max-height: 10%;
}

.card-body {
    text-align: center;
}

.row {
    padding-top: 2%;
    justify-content: center;
}

.card-title {
    color: #2d5a87;
    font-family: 'Roboto';
    font-size: medium;
}

.card-text {
    color: #a1c7e2;
}

.col-md-6 {
    margin: 0 auto;
    text-align: center;
}

.create-new-blog {
    font-family: 'Rock Salt';
    font-size: 27px;
    color: #2d5a87;
}

.control-label {
    font-family: 'Roboto';
    font-size: medium;
    margin-top: 2%;
}

#create-button {
    margin-top: 2%;
    width: 23%;
    outline: none;
    border: none;
    font-size: 28px;
    color: #2d5a87;
    font-family: 'Roboto';
    background-color: #c2d2df;
    border-radius: 5%;
}

    #create-button:hover {
        background-color: #2d5a87;
        color: #c2d2df;
        transition: 2s;
    }

.contact-title {
    font-family: 'Rock Salt';
    text-align: center;
    color: #afddb5;
    font-size: x-large;
    margin: 1% 0 3% 0;
}

.contact-text {
    font-family: 'Roboto';
    text-align: right;
    margin-right: 18%;
    color: rgb(78, 91, 94);
}


.about-us {
    font-family: 'Roboto';
}

.title-about {
    margin: 1%;
    text-align: center;
    color: #afddb5;
    font-family: 'Rock Salt';
    font-size: x-large;
}

.text-about {
    text-align: center;
    color: rgb(78, 91, 94);
    margin-top: 2%;
}

.blog-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 200px;
}

.blog-desc {
    width: 82%;
    margin: 2% auto;
    font-family: 'Roboto';
    -webkit-box-shadow: -2px 2px 19px -2px rgba(94,83,72,1);
    -moz-box-shadow: -2px 2px 19px -2px rgba(94,83,72,1);
    box-shadow: -2px 2px 19px -2px rgba(94,83,72,1);
    padding: 1%;
    text-align: left;
}

.blog-title {
    text-align: center;
    margin-top: 2%;
    color: #285786;
    font-family: 'Rock Salt';
    font-size: 22px;
}

.date-created {
    text-align: center;
    font-family: 'Roboto';
    color: #a1c7e2;
    margin-right: 2%;
    margin-bottom: 1%;
}

.blog-views{
    text-align: center;
}

.add-button {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-family: 'Roboto';
}

.table {
    font-family: 'Roboto';
}